.gameroom .message-bubble 
{
    /*padding: 10px 0px 10px 0px;*/
}

.gameroom .message-bubble:nth-child(even) { 
	margin:0em;
	padding:1em; 
	background-color: #F5F5F5; }

.gameroom .message-bubble 
{
    padding-left: 2em;  
}

.gameroom .panel-body { 
	padding: 0px; 
}

.gameroom .panel-heading { background-color: #3d6da7 !important; color: white !important; }

.gameroom .float-left{
	float:left;
}

.gameroom .chatting{
	height:15em;
	overflow:scroll;
}


